src/main/mule/timezone-api-cicd-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7d8ff2af-bd4b-4d44-9df3-34f4d5d16461" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2363afc0-6d04-4852-8ac8-ac6eb6ae917c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="timezone-api-cicd-pipelineFlow" doc:id="85f67950-6362-458b-b3d9-ad52ba558523" >
		<http:listener doc:name="Listener" doc:id="f8024039-c977-4b32-81b7-6e257f7b5352" config-ref="HTTP_Listener_config" path="/api/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="ed58801a-1e71-4b95-ba58-2800b63e9970" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
